clip==0.2.0
matplotlib==3.4.3
nltk==3.6.5
numpy==1.21.2
pandas==1.3.3
prefetch_generator==1.0.1
prettytable==2.2.1
scikit_learn==0.24.2
scipy==1.5.4
setuptools==49.3.0
skipthoughts==0.0.1
tensorboardX==2.4
tensorboardX==2.6
tensorflow==2.12.0
tensorflow_hub==0.13.0
torch==1.10.0
tqdm==4.49.0
transformers==4.11.3
